body {
    height: 100vh;
}




/* This is the header section */
header {
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: 200px 200px 1fr;
    background-color: lightblue;
    padding: 1rem;
    align-items: center;
}


.header-logo {
    width: 100px;
    padding-left: 100px;
}

.header-center {
    padding-left: 20px;
    text-align: left;
}



/* This is the Navigation section */

nav {
    padding: 1%;
}

ul {
    list-style-type: none;
}

a {
    padding: 20px;
}

a:hover {
    color: white;
    background-color: #000;
}



/*-----------This is the hero image section--------------*/

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #4d5b97);
    border: 1px solid rgba(0,0,0,.75);
    padding: 1.5rem;
    box-shadow: 0 0 03rem #fff;
    opacity: 0.75;
}




/*--------------Main Section-----------------*/

h2 {
    text-align: center;
}


#formTitle {
    text-align: center;
}

.mainHome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: auto auto;
    /* grid-gap: 15px; */
    margin: 20px
}


section {
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

section h2, section h3 {
    text-decoration: underline;
}

.card {
    background-color: lightgrey;
}

.businesses {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.business {
    background-color: lightgrey;
    text-align: center;
}

#members-title {
    margin-left: 170px;
}

.business-image {
    width: 100%;
    height: auto;
}





/*--------------Footer Section-------------------*/

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #a4a4a4;
    color: #fff;
    padding: 20px;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-logo {
    max-width: 100px;
    margin-bottom: 10px;
}

.footer-address p {
    margin: 0;
    line-height: 1.6;
}

.footer-bottom {
    grid-column: 1 / -1;
    text-align: center;
    border-top: 1px solid #777;
    padding-top: 10px;
    margin-top: 20px;
    color: #e7e7e7;
}















/*----------This is for the button for the dark mode-----------------*/

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}


/* This is the style for the Form page. join.html */



.chamberForm fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.chamberForm legend {
    color: #445ba9;
    padding: 0 .5rem;
}

.chamberForm label {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;
}

.chamberForm .memberDesc {
    padding-left: 25px;
    padding-bottom: .1rem;
    font-size: .9rem;
}

.chamberForm input[type="text"],
.chamberForm input[type="tel"],
.chamberForm input[type="email"]
{   
    background-color: #eee;
    display: block;
    color: #555;
    width: 100%;
    max-width: 400px;
    border-radius: 6px;
    padding: .75rem;
}

.chamberForm input[type="submit"]
{
    background-color: #9c2c13;
    border-radius: 6px;
    width: 96%;
    max-width: 400px;
    padding: .6rem;
    margin: -1rem 2% 2rem 2%;
}

#thankyouMessage {
    text-align: center;
}




/*------------This is the style section for the Discover Page----------------------------*/

#discover-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 80%;
    /* height: 80%; */
    border: 1px solid #ccc;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-item {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-placeholder {
    width: 100%;
    height: 150px;
    background-color: #ccc;
}

.calendar-placeholder {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-item{
    height: 100px;
    background-color: #ccc;
}

















/*--------Main section in Directory page----------------*/

#cards img {
    width: 175px;
}

#cards section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    margin: 20px;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: lightgrey;
}

#cards h3 {
    grid-column: 1/2;
    grid-row: 2/3;
}






/*-------Moblie CSS view for the Website---------*/


@media only screen and (max-width: 460px) {

    header {
        display: flex;
        flex-direction: column;
        background-color: lightblue;
        padding: 2rem;
        align-items: center;
    }

    .mainHome {
        display: inline;
    }

    .card {
        margin: 0 auto;
    }



    /*-----------This is the hamburger menu -------------*/

    #menu {
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .navigation a {
        display: none;
        padding: 1rem;
        text-align: left;
    }

    .open a {
        display: block;
    }

    #cards section{
        display: block;
    }

}






