body {
    height: 100vh;
}

header {
    display: flex;
    background-color: green;
    width: 100%;
    padding: 3rem;
    align-items: center;
    flex-direction: column-reverse;
}

nav {
    background-color: tan;
    padding: 1%;
    width: 100%;
}

ul {
    list-style-type: none;
}

h2 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: start;
}

.card {
    background-color: tan;
    padding: 10px;
    width: 85%;
    margin: 0 25px 25px 25px;
}

.heroImg {
    width: 75%;
    height: auto;
}
footer {
    text-align: center;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 15px;
    box-shadow: 2pc 0 5px rgba(0,0,0,0.1);
}

.sidebar ul {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

