  body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  header {
    padding: 2rem;
    grid-column: 1/4;
    background-color: #1a237e;
  }

  h1 {
    text-align: center;
  }

  nav {
    grid-column: 1/4;
    background-color: grey;
    color: white;
  }

  ul {
    list-style-type: none;
  }

  main {
    grid-column: 1/4;
  }
  h2, h3 {
    text-align: center;
  }

  h3 {
    border-bottom: solid;
  }

  nav ul li a.current::before {
    content: "📌";
  }

  .card {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
  }

  footer {
    grid-column: 1/4;
    text-align: center;
  }
  img {
    width: 10%;
  }

  iframe {
    display: block;
    align-items: center;
  }
  